@font-face {
  font-family: Nexa-Bold;
  src: url("./../fonts/Nexa Bold.otf") format("opentype"); }

@font-face {
  font-family: Nexa-Light;
  src: url("./../fonts/Nexa Light.otf") format("opentype"); }

* {
  font-family: Nexa-Bold !important; }

.wrraper {
  width: 100%;
  max-width: 980px;
  margin: 0 auto; }

header.large {
  background: #1ABC9C;
  text-align: center;
  color: #ECF0F1;
  padding: 15px 0; }
  header.large h1, header.large xmp {
    margin: 0; }
  header.large xmp {
    padding: 20px 0;
    font-size: 60px; }
  header.large h1 {
    font-size: 60px; }

.header--scroll {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  z-index: 999;
  background-color: #1ABC9C;
  font-size: 26px;
  padding: 0;
  text-align: center;
  color: #ECF0F1; }

.about {
  overflow: auto;
  padding: 15px 0;
  box-sizing: border-box;
  background: #fafafa;
  width: 100%; }
  .about .wrapper {
    width: 100%;
    max-width: 880px;
    margin: 40px auto; }
  .about .picture {
    width: 230px;
    text-align: center;
    float: left;
    padding: 20px 40px; }
    .about .picture .tags {
      width: 100%;
      margin: 15px 0; }
    .about .picture p {
      line-height: 16px;
      padding: 0; }
    .about .picture img {
      width: 150px;
      border-radius: 100%; }
  .about .description {
    width: 100%;
    padding: 15px;
    font-size: 17px;
    margin-left: -230px;
    padding-left: 230px;
    box-sizing: border-box;
    float: left; }
    .about .description p {
      font-family: Nexa-Light !important; }

.timeline {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative; }
  .timeline .period, .timeline .title, .timeline .description p {
    font-family: Nexa-Light !important;
    font-size: 15px;
    line-height: 26px; }
  .timeline .title, .timeline .period {
    font-size: 18px; }
  .timeline .title {
    margin-bottom: 5px; }
  .timeline .line {
    width: 2px;
    position: absolute;
    left: 30%;
    top: 0;
    bottom: 0;
    background: #fafafa; }
  .timeline h2 {
    text-align: center;
    margin: 25px 0 35px 0;
    width: 100%;
    color: #1ABC9C;
    font-family: Nexa-Light !important; }
  .timeline .timeline-row {
    display: inline-block; }
    .timeline .timeline-row .event {
      width: 100%;
      display: inline-block;
      margin-bottom: 25px; }
      .timeline .timeline-row .event .left {
        width: 30%;
        float: left;
        text-align: center;
        position: relative; }
        .timeline .timeline-row .event .left .circle {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          position: absolute;
          top: 0;
          right: -7.5px;
          background-color: #1ABC9C;
          border: 1px solid #fafafa; }
      .timeline .timeline-row .event .right {
        width: 70%;
        float: left;
        box-sizing: border-box;
        padding-left: 50px; }

.skills {
  background-color: #fafafa; }
  .skills .wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    text-align: center; }
  .skills h2 {
    text-align: center;
    margin: 25px 0 35px 0;
    width: 100%;
    color: #1ABC9C;
    font-family: Nexa-Light !important; }
  .skills .tags-wrapper {
    width: 100%; }
    .skills .tags-wrapper .tags {
      font-size: 20px;
      line-height: 46px;
      margin: 0 auto;
      display: inline-block;
      font-family: Nexa-Light !important;
      word-spacing: 10px; }

@media only screen and (max-width: 768px) {
  header.large {
    display: none !important; }
  header.header--scroll {
    display: block !important; }
  .about .picture {
    float: none;
    margin: 0 auto; }
  .about .description {
    margin: 0;
    padding: 15px; }
  .timeline .line {
    left: 16.5px; }
  .timeline .timeline-row .left {
    width: 100% !important;
    float: none !important;
    padding-left: 50px !important;
    text-align: left !important; }
    .timeline .timeline-row .left .circle {
      top: 5px !important;
      left: 10px; }
  .timeline .timeline-row .right {
    width: 100% !important;
    float: none !important;
    padding-left: 50px !important; } }
